.chart__container {
	height: 700px;
	width: 100%;
	max-width: 1260px;
	margin-top: 50px;
	align-self: center;
	overflow-x: auto;
	display: flex;
	flex-direction: row-reverse;
}

.chart__container::-webkit-scrollbar {
}

.chart__inner {
	cursor: grab;
	display: flex;
}

.axis__text {
	color: #000;
	font-family: Roboto;
}

.static-y-axis {
	position: sticky;
	left: 0;
	z-index: 10;
	background-color: #f9fafa;
}
