.chart__container {
	/* flex: 0.75; */
	height: 700px;
	padding-top: calc(var(--padding) * 3);
	padding-bottom: calc(var(--padding) * 1.5);
	display: flex;
	flex-direction: row;
	overflow-x: auto;
	opacity: 0;
	animation-name: appear;
	animation-duration: 1.5s;
	animation-fill-mode: forwards;
	animation-delay: 1.25s;
}

@keyframes appear {
	from {
		display: none;
		opacity: 0;
	}

	to {
		display: flex;
		opacity: 1;
	}
}

@media (max-width: 1366px) {
	.chart__inner {
		cursor: grab;
	}
}

.chart__inner {
	flex: 1;
	min-width: 1070px;
	display: flex;
}

.error-container {
	min-width: 0;
}

.chart__container::-webkit-scrollbar {
	height: 0px;
}

.chart__container::-webkit-scrollbar-thumb {
	background-color: var(--ui-element);
}

.chart__container::-webkit-scrollbar-track {
	background-color: var(--background-dark);
	border-radius: 5px;
}

.axis__text {
	font-family: Roboto;
}

.static-y-axis {
	position: sticky;
	left: 0;
	z-index: 1;
	background-color: var(--background-light);
}

.custom-tooltip {
	user-select: none;
	background-color: var(--background-light);
	height: 50px;
	border: solid 1px var(--ui-element);
	padding-left: calc(var(--padding));
	padding-right: calc(var(--padding));
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
	align-items: center;
	font-family: Roboto;
	font-weight: 500;
	color: var(--light-text);
}

.custom-tooltip__label {
	font-size: var(--content-fontsize);
}

.custom-tooltip__content {
	color: var(--dark-text);
	font-size: var(--content-fontsize);
}

.chart__placeholder {
	flex: 1;
	align-self: stretch;
	background-color: var(--ui-element);
	border-radius: 10px;
}

.chart__placeholder--error {
	flex: 1;
	align-self: stretch;
	color: var(--dark-text);
	background-color: var(--background-light);
	border-radius: 10px;
	display: flex;
	justify-content: center;
	align-items: center;
	font-family: Roboto;
}
