.company__summary {
	display: flex;
	flex-direction: column;
	border-bottom: solid 1px var(--ui-element);
	padding: var(--padding);
	padding-top: calc(var(--padding) * 2);
	padding-bottom: calc(var(--padding) * 4);
}

.company-summary__heading {
	padding-bottom: var(--padding);
}

.company__name {
	font-family: "Roboto", sans-serif;
	font-size: var(--subheader-fontsize);
	color: var(--medium-text);
	font-weight: 500;
	padding-bottom: var(--padding);
}

.company__website {
	font-family: "Roboto", sans-serif;
	color: var(--accent-primary);
	font-style: italic;
	padding-bottom: var(--padding);
	font-size: var(--smallcontent-fontsize);
	text-decoration: underline;
}

.company__description {
	color: var(--medium-text);
	font-family: "Roboto", sans-serif;
	line-height: 1.67;
	letter-spacing: 0.09px;
	font-size: var(--content-fontsize);
}

.summary-placeholder {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.summary-placeholder__title {
	height: 30px;
	width: 40%;
	background-color: var(--ui-element);
	margin-bottom: calc(var(--padding) * 2);
	border-radius: 15px;
}

.summary-placeholder__content {
	height: 10px;
	width: 100%;
	background-color: var(--ui-element);
	margin-bottom: calc(var(--padding) * 2);
	border-radius: 5px;
}

.summary-placeholder__content--short {
	width: 70%;
}
