.summary-placeholder {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.summary-placeholder__title {
	height: 30px;
	width: 40%;
	background-color: var(--ui-element);
	margin-bottom: calc(var(--padding) * 2);
	border-radius: 15px;
}

.summary-placeholder__content {
	height: 10px;
	width: 100%;
	background-color: var(--ui-element);
	margin-bottom: calc(var(--padding) * 2);
	border-radius: 5px;
}

.summary-placeholder__content--short {
	width: 70%;
}

.summary-placeholder--error {
	height: 250px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	font-family: roboto;
	color: var(--dark-text);
}
