.indices {
	flex: 1;
	display: flex;
	justify-content: center;
	align-items: center;
	align-self: stretch;
	padding-bottom: calc(var(--padding) * 1.6);
	padding-top: calc(var(--padding) * 0.8);
	margin-right: calc(var(--padding) * 2.7);
	margin-left: calc(var(--padding) * 2.7);
	font-family: Roboto;
	border-top: 1px solid var(--ui-element-light);
	height: calc(var(--padding) * 5.6);
}

.index {
	flex: 1;
	align-self: stretch;
	max-width: 240px;
	display: flex;
	flex-direction: row;
	align-items: center;
	padding-left: calc(var(--padding) * 2.4);
	padding-right: calc(var(--padding) * 2.4);
	padding-top: var(--padding);
	padding-bottom: var(--padding);
	font-size: var(--content-fontsize);
	/* height: calc(var(--padding) * 1.5) */
}

.index-price__display {
	flex: 1;
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: space-between;
	text-align: left;
	color: var(--light-text);
	font-size: var(--content-fontsize);
}

.index-price {
	font-size: var(--content-fontsize);
	/* margin-right: calc(var(--padding) * 2); */
}

.index-price__change {
	font-size: var(--content-fontsize);
	font-family: "Roboto", sans-serif;
	font-weight: 500;
}

.index-price__symbol {
	color: var(--medium-text);
	padding-right: calc(var(--padding) * 0.7);
	/* padding-left: calc(var(--padding) * 2); */
	font-weight: 500;
}

.index__arrow {
	width: 15px;
}

.index--center {
	border-left: 1px solid var(--ui-element-light);
	border-right: 1px solid var(--ui-element-light);
}

.index__placeholder {
	width: 200px;
	height: 20px;
	background-color: var(--ui-element-light);
	border-radius: 10px;
}

.index__placeholder--error {
	width: 200px;
	height: 20px;
	background-color: var(--bac);
	display: flex;
	justify-content: center;
}


@media (max-width: 1366px) {
	.indices {
		border-top: none;
	}
}

@media (max-width: 834px) {
	.index {
		padding: calc(var(--padding) * .75);
	}
	.indices {
		padding-top: calc(var(--padding) * 2)
	}
	.index-price__display {
		justify-content: center;
	}
}