.searchbar {
	display: flex;
	flex-direction: column;
	box-sizing: border-box;
	flex: 2;
	position: relative;
	z-index: 9;
}

.field {
	width: 100%;
}

.field input {
	background-color: transparent;
	border: none;
	width: 100%;
	font-size: 32px;
	font-family: "Merriweather";
	padding: 15px 5px;
}

.field input:focus-visible {
	outline: none;
	border-bottom: 2px solid var(--accent-primary);
}

.stock__header {
	width: 100%;
	display: flex;
	justify-content: space-between;
	max-width: 1260px;
}

.grayborder {
	border-bottom: 2px solid var(--ui-element-light);
}

.suggestions {
	background-color: white;
	border-radius: 12px;
	margin-top: 4px;
	font-family: "Roboto";
	position: absolute;
	top: 70px;
	z-index: 9;
	box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.15);
	color: #828282;
	width: 100%;
}

.suggestions__list {
	list-style: none;
	padding: 0 8px;
	margin: 0;
	font-size: 20px;
	padding-bottom: 15px;
}

.suggestions__list li {
	padding: 16px;
}

.suggestions__title {
	border-bottom: 1px solid var(--ui-element-light);
	width: 100%;
	font-size: 18px;
	font-weight: 500;
	padding: 16px;
	margin-bottom: 8px;
	color: #7f7f7f;
}

.suggestions__stock {
	user-select: none;
}

.suggestions__stock:hover {
	background-color: var(--background-dark);
	color: black;
	border-radius: 28px;
	font-weight: 400;
}

.clickableArea {
	position: absolute;
	top: 0;
	left: 0;
	height: 100vh;
	width: 100vw;
	background-color: clear;
	z-index: 2;
}