.searchbar {
  width: 100%;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  flex: 2;
  position: relative;
}

.field {
  width: 100%;
}

.field input {
  background-color: transparent;
  border: none;
  width: 100%;
  font-size: 32px;
  font-family: "Merriweather";
}

.field input:focus-visible {
  outline: none;
  border-bottom: 2px solid #aaabd1;
}

.stock__header {
  display: flex;
  justify-content: space-between;
}

.grayborder {
  border-bottom: 2px solid #eaebeb;
}

.suggestions {
  background-color: white;
  border-radius: 12px;
  margin-top: 4px;
  font-family: "Roboto";
  position: absolute;
  z-index: 9;
}

.suggestions__list {
  list-style: none;
  padding: 0;
  font-size: 20px;
}

.suggestions__list li {
  padding: 16px;
}

.suggestions__title {
  border-bottom: 1px solid #eaebeb;
  width: 100%;
  font-size: 18px;
  font-weight: 500;
  padding: 16px;
}

.suggestions__stock:hover {
  background-color: #f1f2f2;
  color: #828282;
  border-radius: 20px;
  font-weight: 400;
}
