body {
	background-color: #f9fafa;
	margin: 0;
}

.section-heading,
.headlines {
	font-family: "Merriweather";
	font-weight: 700;
}

.section-heading {
	color: var(--medium-text);
	font-size: var(--section-headers-fontsize);
	padding-bottom: calc(var(--padding) * 1);
}

.stock-screen {
	overflow-x: hidden;
}

.logo-section {
	grid-area: logo;
	background-color: var(--background-dark);
	display: flex;
	justify-content: center;
	padding-top: calc(var(--padding) * 3);
	padding-bottom: 0;
}

.logo {
	user-select: none;
}

.large-logo {
	display: none;
}

.logo:hover {
	cursor: pointer;
}

.indice-section {
	grid-area: indices;
	display: flex;
	margin-left: 32px;
	margin-right: 32px;
}

.main-section {
	grid-area: main;
	display: flex;
	min-width: 0;
	flex-direction: column;
	align-items: stretch;
	padding: calc(var(--padding) * 3);
	padding-top: calc(var(--padding) * 3);
	padding-bottom: 0;
}

.news-summary-section {
	grid-area: news-summary;
	align-self: stretch;
	display: flex;
	flex-direction: column;
	background-color: var(--background-dark);
	padding: calc(var(--padding) * 1.5);
	padding-top: calc(var(--padding) * 4);
}

/* ::-webkit-scrollbar {
	width: 8px;
} */

.logo-center {
	align-self: center;
}

.stock-screen {
	flex: 1;
	display: grid;
	grid-template-columns: 129px 1fr 351px;
	grid-template-rows: 1fr 56px;
	grid-template-areas: 
		"logo main news-summary"
		"logo indices news-summary";
}

@media (max-width: 1366px) {
	.stock-screen {
		grid-template-columns: 1fr;
		grid-template-rows: 100px 1fr .5fr 56px;
		grid-template-areas: 
		"logo"
		"main"
		"news-summary"
		"indices";
		overflow-y: scroll;
	}

	.section-heading {
		padding-bottom: calc(var(--padding) * 1.5);
	}

	.logo-section {
		padding: calc(var(--padding));
		margin-bottom: calc(var(--padding) * 2);
	}

	.large-logo {
		display: unset;
	}

	.small-logo {
		display: none;
	}

	.main-section {
		padding-top: 0;
	}

	.news-summary-section {
		flex-direction: row;
		justify-content: space-evenly;
		padding: calc(var(--padding) * 3);
	}
}

@media (max-width: 1024px) {
	.news-summary-section {
		display: grid;
		grid-template-columns: 1fr 1fr;
		grid-template-rows: .6fr;
		grid-template-areas: 
			"summary news"
			"peers peers";
		column-gap: calc(var(--padding) * 3);
	}
}

@media (max-width: 834px) {
	.stock-screen {
		grid-template-rows: 80px 1fr .5fr 60px;
	}

	.logo-section {
		margin: 0;
	}

	.indice-section {
		justify-content: center;
	}

	.news-summary-section {
		grid-template-columns: 1fr;
		grid-template-rows: auto auto auto;
		grid-template-areas: 
			"summary"
			"news"
			"peers";
		column-gap: calc(var(--padding) * 3);
		padding: calc(var(--padding) * 2)
	}

	.section-heading {
		margin-left: calc(var(--padding) * -.5);
		padding-bottom: calc(var(--padding) * 1.5);
	}
}