.section-heading,
.headlines {
	font-family: "Merriweather";
	font-weight: 700;
}

.section-heading {
	color: var(--medium-text);
	font-size: var(--section-headers-fontsize);
	padding-bottom: calc(var(--padding) * 1);
}

.stock-screen {
	overflow-x: hidden;
}

.logo-section {
	grid-area: logo;
	width: 129px;
	background-color: var(--background-dark);
	display: flex;
	justify-content: center;
	/* align-items: center; */
	padding-top: calc(var(--padding) * 3);
}

.logo {
	user-select: none;
}

.logo-stretch {
	animation: translate-top 1.25s ease-in-out;
	-webkit-animation: translate-top 1.25s ease-in-out;
}

@keyframes translate-top {
	from {
		transform: translateY(45vh);
	}

	to {
		transform: translateY(0);
	}
}

.large-logo {
	display: none;
}

.logo:hover {
	cursor: pointer;
}

.indice-section {
	grid-area: indices;
	display: flex;
}

.main-section {
	grid-area: main;
	display: flex;
	min-width: 0;
	flex-direction: column;
	align-items: stretch;
	padding: calc(var(--padding) * 3);
	padding-top: calc(var(--padding) * 3);
	padding-bottom: 0;
}

.news-summary-section {
	grid-area: news-summary;
	align-self: stretch;
	display: flex;
	flex-direction: column;
	background-color: var(--background-dark);
	padding: calc(var(--padding) * 1.5);
	padding-top: calc(var(--padding) * 4);
	overflow-y: scroll;
	animation: slide-from-right 1.25s ease-in-out;
}

@keyframes slide-from-right {
	from {
		transform: translateX(100%);
	}

	to {
		transform: translateX(0);
	}
}

/* ::-webkit-scrollbar {
	width: 8px;
} */

/* .logo-center {
	align-self: center;
} */

.stock-screen {
	flex: 1;
	display: grid;
	grid-template-columns: 129px 1fr 351px;
	grid-template-rows: 1fr 56px;
	grid-template-areas:
		"logo main news-summary"
		"logo indices news-summary";
}

@media (max-width: 1366px) {
	.stock-screen {
		grid-template-columns: 1fr;
		grid-template-rows: 100px 1fr 0.5fr 56px;
		grid-template-areas:
			"logo"
			"main"
			"news-summary"
			"indices";
		overflow-y: scroll;
	}

	.stock-screen__logo {
		padding: calc(var(--padding));
	}

	.section-heading {
		padding-bottom: calc(var(--padding) * 1.5);
	}

	.logo-section {
		width: auto;
		align-items: flex-end;
		margin-bottom: calc(var(--padding) * 2);
	}

	.large-logo {
		display: unset;
	}

	.small-logo {
		display: none;
	}

	.main-section {
		padding-top: 0;
		padding-left: calc(var(--padding) * 2);
		padding-right: calc(var(--padding) * 2);
	}

	.news-summary-section {
		flex-direction: row;
		justify-content: space-evenly;
		padding: calc(var(--padding) * 2);
		overflow: unset;
	}
}

@media (max-width: 1024px) {
	.news-summary-section {
		display: grid;
		grid-template-columns: 1fr 1fr;
		grid-template-rows: 0.6fr;
		grid-template-areas:
			"summary news"
			"peers peers";
		column-gap: calc(var(--padding) * 3);
	}
}

@media (max-width: 834px) {
	.stock-screen {
		grid-template-rows: 80px 1fr 0.5fr 60px;
	}

	.stock-screen__logo {
		padding: calc(var(--padding));
	}

	.logo-section {
		margin: 0;
	}

	.indice-section {
		justify-content: center;
	}

	.main-section {
		padding-left: calc(var(--padding) * 1.5);
		padding-right: calc(var(--padding) * 1.5);
	}

	.news-summary-section {
		grid-template-columns: 1fr;
		grid-template-rows: auto auto auto;
		grid-template-areas:
			"summary"
			"news"
			"peers";
		column-gap: calc(var(--padding) * 3);
		padding: calc(var(--padding) * 1.5);
	}

	.section-heading {
		margin-left: calc(var(--padding) * -0.5);
		padding-bottom: calc(var(--padding) * 1.5);
	}

	.logo-center {
		align-self: unset;
	}
}
