.top-peers {
	grid-area: peers;
	padding: calc(var(--padding) * 1.5);
	padding-top: calc(var(--padding) * 2.4);
}

.peers__heading {
	padding-bottom: calc(var(--padding) * 1.7);
}

.peers__buttons {
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
}

.peer {
	font-family: "Roboto", sans-serif;
	font-size: var(--smallcontent-fontsize);
	border-radius: 43px;
	width: 51px;
	background-color: var(--background-dark);
	padding: 4px 7.5px 3px 7.5px;
	border: 2px solid var(--ui-element);
	/* flex-basis: 18%; */
	margin-right: calc(var(--padding) * 0.4);
	/* margin-right: calc(var(--padding) * 0.4); */
	margin-bottom: calc(var(--padding) * 0.4);
}

.peer:hover {
	background-color: var(--ui-element);
	cursor: pointer;
}

.peers__placeholder {
	align-self: stretch;
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
}

.peers__placeholder__button {
	height: 25px;
	width: 51px;
	border-radius: 43px;
	background-color: var(--ui-element);
	margin: calc(var(--padding) * 0.2);
}

.peers__placeholder--error {
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	font-family: roboto;
}

@media (max-width: 1366px) {
	.top-peers {
		padding: 0;
		flex: 1;
	}
	.peers__buttons {
		justify-content: flex-start;
	}
}

@media (max-width: 1024px) {
	.top-peers {
		border-top: 1px solid var(--ui-element);
		padding-top: calc(var(--padding) * 1.5);
		padding-left: calc(var(--padding) * 1.5);
		padding-right: calc(var(--padding) * 1.5);
	}
}
