.top-peers {
	padding: calc(var(--padding) * 1.5);
	padding-top: calc(var(--padding) * 2.4);
}

.peers__buttons {
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
}

.peers__heading {
	padding-bottom: calc(var(--padding) * 1.5);
}

.peer {
	font-family: "Roboto", sans-serif;
	font-size: var(--smallcontent-fontsize);
	border-radius: 43px;
	width: 51px;
	background-color: var(--background-dark);
	padding: 4px 7.5px 3px 7.5px;
	border: 2px solid var(--ui-element);
	/* flex-basis: 18%; */
	margin-left: calc(var(--padding) * 0.4);
	/* margin-right: calc(var(--padding) * 0.4); */
	margin-bottom: calc(var(--padding) * 0.4);
}

.peer:hover {
	background-color: var(--ui-element);
	cursor: pointer;
}

.peers__placeholder {
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
}

.peers__placeholder__button {
	height: 40px;
	min-width: 60px;
	border-radius: 43px;
	background-color: var(--ui-element);
	padding-left: var(--padding);
	padding-right: var(--padding);
	padding-bottom: calc(var(--padding) * 1.5);
	padding-top: calc(var(--padding) * 1.5);
	flex-basis: 18%;
	margin: calc(var(--padding) * 0.5);
}
