* {
  box-sizing: border-box;
}

.stats {
  display: flex;
  flex-wrap: wrap;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  width: 100%;
  justify-content: space-between;
  color: #2b2b2b;
  margin-top: 100px;
}

.stats-container {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.middle-section {
  margin-left: 100px;
  margin-right: 100px;
}

.stats__title {
  flex-basis: 100%;
  margin-bottom: 25px;
}

.stats__list {
  padding: 0;
  flex: 1;
  list-style: none;
  min-width: 100px;
}

.stats__list li {
  font-size: 16px;
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #eaebeb;
  padding: 7.5px 0;
}

.stats__list li:last-child {
  border-bottom: none;
}

.stats li span {
  color: #7f7f7f;
  font-weight: normal;
}
