* {
	box-sizing: border-box;
}

.stats {
	display: flex;
	flex-wrap: wrap;
	font-family: "Roboto", sans-serif;
	font-weight: 500;
	padding-left: var(--padding);
	padding-right: var(--padding);
	justify-content: space-between;
	color: #2b2b2b;
}

.stats-container {
	width: 100%;
	display: flex;
	justify-content: space-between;
}

.middle-section {
	margin-left: calc(var(--padding) * 10);
	margin-right: calc(var(--padding) * 10);
}

.stats__title {
	flex-basis: 100%;
	padding-bottom: calc(var(--padding) * 2);
}

.stats__list {
	padding: 0;
	flex: 1;
	list-style: none;
	min-width: 100px;
}

.stats__list li {
	font-size: var(--content-fontsize);
	display: flex;
	justify-content: space-between;
	border-bottom: 1px solid var(--ui-element-light);
	padding: 7.5px 0;
}

.stats__list li:last-child {
	border-bottom: none;
}

.stats li span {
	color: var(--light-text);
	font-weight: normal;
}

.stats__placeholder {
	width: 100%;
	display: flex;
	justify-content: space-between;
}

.stats__placeholder__column {
	flex: 1;
	display: flex;
	flex-direction: column;
}

.stats__placeholder__column__center {
	margin-left: calc(var(--padding) * 3);
	margin-right: calc(var(--padding) * 3);
}

.stats__placeholder__row {
	flex: 1;
	display: flex;
	justify-content: space-between;
	margin-top: var(--padding);
	margin-bottom: var(--padding);
}

.stats__placeholder__row__content {
	flex: 1;
	height: 20px;
	background-color: var(--ui-element);
	border-radius: 15px;
}
