:root {
	--light-text: #7f7f7f;
	--medium-text: #4d4d4d;
	--dark-text: #2b2b2b;
	--accent-primary: #aaabd1;
	--background-light: #f9fafa;
	--background-dark: #f1f2f2;
	--ui-element: #d8d9d9;
	--ui-element-light: #eaebeb;
	--negative: #f23441;
	--positive: #01c38d;
	--padding: 10px;
}

body {
	background-color: #f9fafa;
	margin: 0;
}

.section-heading,
.headlines {
	font-family: "Merriweather";
	font-weight: 700;
	color: var(--medium-text);
	padding-bottom: var(--padding);
}

.section-heading {
	font-size: 20px;
}

.App {
	height: 100vh;
	display: flex;
}

.logo-section {
	max-width: 200px;
	min-width: 150px;
	flex: 1;
	background-color: var(--background-dark);
	display: flex;
	justify-content: center;
	padding-top: calc(var(--padding) * 3);
	transition: align-items 1s ease-in-out;
}

.logo:hover {
	cursor: pointer;
}

.main-section {
	flex: 1;
	align-self: stretch;
	display: flex;
	flex-direction: column;
	align-items: center;
	padding-top: calc(var(--padding) * 8);
	overflow-y: auto;
}

.news-summary-section {
	flex: 2;
	max-width: 450px;
	align-self: stretch;
	display: flex;
	flex-direction: column;
	background-color: var(--background-dark);
	padding: calc(var(--padding) * 3);
	overflow-y: auto;
}

::-webkit-scrollbar {
	width: 8px;
}

.logo-center {
	align-self: center;
}

.logo-stretch {
	animation: animation-to-stretch 2 ease-in-out;
}
