.top-peers {
	padding: var(--padding);
	padding-top: calc(var(--padding) * 3)
}

.peers__buttons {
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
}

.peers__heading {
	padding-bottom: calc(var(--padding) * 2)
}	

.peer {
	border-radius: 43px;
	background-color: var(--background-dark);
	padding: var(--padding);
	font-family: "Roboto", sans-serif;
	margin: 0 5px;
	border: 2px solid var(--ui-element);
	flex-basis: 18%;
	margin: calc(var(--padding) * .5);
}

.peer:hover {
	background-color: var(--ui-element);
	cursor: pointer;
}

.peers__placeholder {
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
}

.peers__placeholder__button {
	height: 40px;
	min-width: 60px;
	border-radius: 43px;
	background-color: var(--ui-element);
	padding: 10px 15px;
	margin: 0 5px;
	flex-basis: 18%;
	margin: 5px;
}
