a {
	text-decoration: none;
}

.newsfeed__heading {
	padding-left: calc(var(--padding) * 1)
}

.article {
	border-bottom: solid 1px var(--ui-element);
	padding-left: var(--padding);
	padding-right: var(--padding);
	margin-bottom: calc(var(--padding) * 0.5);
}

.article__content {
	padding-top: var(--padding);
	padding-bottom: var(--padding);
}

.article__time-source {
	font-family: "Roboto";
	font-style: italic;
	font-size: var(--content-fontsize);
	color: var(--light-text);
	padding-bottom: calc(var(--padding) * 2);
}

.news__placeholder {
	width: 100%;
	padding: var(--padding);
	margin-bottom: calc(var(--padding) * 2);
}

.news__placeholder__title {
	width: 100%;
	height: 20px;
	background-color: var(--ui-element);
	margin-bottom: calc(var(--padding) * 1.5);
	border-radius: 10px;
}

.news__placeholder__title--short {
	width: 60%;
}

.news__placeholder__footer {
	background-color: var(--ui-element);
	height: 7px;
	width: 30%;
	border-radius: 4px;
}
