.price__display {
	flex: 1;
	display: flex;
	align-items: flex-end;
	justify-content: end;
	padding: 0;
	padding-bottom: calc(var(--padding) * 1.5);
	user-select: none;
}

.price__display--hidden {
	display: none;
}

.price__change__wrapper {
	display: flex;
	align-items: center;
}

.arrow {
	margin-right: calc(var(--padding) * -.5)
}

.price__arrow {
	position: relative;
	width: 30px;
}

.index-price__change__wrapper {
	display: flex;
	justify-content: center;
	align-items: center;
}

.price {
	font-family: "Roboto", sans-serif;
	font-weight: 400;
	font-size: var(--symbol-fontsize);
	padding-right: var(--padding);
}

.change {
	white-space: nowrap;
}

.price__change {
	font-family: "Roboto", sans-serif;
	font-weight: 500;
	font-size: var(--section-headers-fontsize);
}

@media(max-width: 834px) {
	.price {
		align-self: stretch;
		font-size: var(--section-headers-fontsize);
	}

	.price__display {
		font-size: var(--section-headers-fontsize);
		padding-top: calc(var(--padding) * 2.5);
	}

	.price__change {
		font-size: var(--subheader-fontsize);

	}
}

.positive {
	color: var(--positive);
}

.negative {
	color: var(--negative);
}

.live-price__placeholder {
	flex: 0.8;
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	align-items: center;
}

.live-price__placeholder__price {
	height: 40px;
	width: 50%;
	border-radius: 20px;
	background-color: var(--ui-element);
}

.live-price__placeholder__arrow {
	height: 20px;
	width: 20px;
	border-radius: 10px;
	margin-right: calc(var(--padding) * -1);
	background-color: #96db96;
}

.live-price__placeholder__change {
	height: 20px;
	width: 30%;
	border-radius: 10px;
	background-color: #96db96;
}

.live-price__placeholder--error {
	flex: 0.8;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	font-family: roboto;
}
